.formCard {
  background: white;
  padding: 28px;
  height: calc(100vh - 80px); /* adjust 80px based on your header height */
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin: 0;
  overflow-y: auto; /* scroll only inside the form if needed */
}


.sectionTitle {
  text-align: center;
  margin-bottom: 24px;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
}


.sectionTitle1 {
  /* text-align: center; */
  margin-bottom: 24px;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 40px; /* large spacing for premium feel */
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.required {
  color: red;
  margin-right: 4px;
}

.batchformCard{

  background: white;
  padding: 28px;
  height: calc(100vh - 60vh); /* adjust 80px based on your header height */
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin: 0;
  overflow-y: hidden !important;
  height: auto !important; /* scroll only inside the form if needed */

}

.formControl {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.formControl:focus {
  outline: none;
  border-color: #007bff;
}

.buttonRow {
  display: flex;
  justify-content: center; /* center the submit button */
  margin-top: 35px;
}

.primaryBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.primaryBtn:hover {
  background-color: #005dc1;
}

.certificateFormWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
